<div class="ml-3">
  <div class="contiene">
    <figure>
      <img src="{{ profile._links.avatar.href }}" alt="avatar" class="avatar" />
    </figure>
  </div>
  <div class="lado ml-2">
    <h5>{{ profile.first_name }} {{ profile.last_name }}</h5>
    <!--   <h4><i class="fab fa-angular"></i>{{ profile.email }}</h4> -->
  </div>
</div>
<div class="ml-3">
  <div class="uno">
    <div style="width: auto;  display: inline-block;">
      <h6>{{ profile.first_name }} {{ profile.last_name }}</h6>
    </div>
    <fa-icon style="float: right;" class="mr-2" [icon]="faPen"> </fa-icon>
  </div>
  <div class="dos" >
    <div class="alturaDiv" style="background-color: #D3DDED; text-align: center;">
      <p class="parrafo">No public profile</p>
    </div>
    <div class="alturaDiv" style="background-color: #FFEEEE;">
      <p class="parrafo">No private Notes</p>
    </div>
    <div>
      <h4>Permisos:</h4>
    </div>
  </div>
  <div class="tres">
    <div style="display: inline-block; text-align: center;">
      <div><h6><b>Proyectos</b></h6></div>
      <div
        style="border-style: groove; display: inline-block; margin: auto; text-align: center; "
        class="porcentaje">
        <h6 style="text-align: center;" class="mt-2">10</h6>
      </div>
    </div>

    <div style="display: inline-block; text-align: center;" class="ml-2">
      <div><h6><b>Tareas</b></h6></div>
      <div
        style="border-style: groove;  display: inline-block; text-align: center;"
        class="porcentaje"
      >
        <h6 style="text-align: center;" class="mt-2">10</h6>
      </div>
    </div>

    <div style="display: inline-block;" class="ml-3">
      <div style="text-align: center;"><h6><b>Hitos</b></h6></div>
      <div
        style="border-style: groove; display: inline-block; "
        class="porcentaje"
      >
        <h6 style="text-align: center;" class="mt-2">10</h6>
      </div>
    </div>
  </div>
</div>
